$font-stack:    Helvetica, sans-serif;
$page-margin: 18px;
$gutter-width: 2px;
$full-page-width: 1008px;
$full-col-width: $full-page-width - $page-margin;
$one-third-col-width:$full-col-width/3 - $gutter-width/2;
$two-thirds-col-width:2*($full-col-width/3) - $gutter-width/2;
$text-color: #ccc;
$bgcolor: #933;
$bghighlight: #a55;
$bghighlighttext: #300;
$bghighlighttextalt: #333030;

body {
  font: 100% $font-stack;
}

.mfp-img { 
    max-height: 750!important; // hack
}

#banner { 
  width: 100%;
  background: #633;
 
  a { 
    color:#fff;
    text-decoration:none; 
    span { 
        color:#fff;
        padding-left: .25em;
        padding-right: .25em;
        margin-right:0.2em;
        font-family: monospace;
        font-size: 1.5em;
        margin-bottom:0.1em;
        background:#000;
    }
  }

  #banner-items { 
      width:$full-col-width;
      margin-right: $page-margin/2;
      margin-left: $page-margin/2;
      color:#fff;
  }
}


#content { 
  background: #fff;
  margin-right: $page-margin/2;
  margin-left: $page-margin/2;
  width:$full-col-width;
  color:$text-color;
  
  #scoreimagesWrapper { 
      height: 540px;
      overflow:auto;
      #scoreimages { 
          img { 
              width: $two-thirds-col-width - 20px; // leave space for scrollbar
              padding-top:5px;
              padding-bottom:5;
          }
      }
  }

  .bio img { 
    display:block;
    padding:15px;
    max-width: $two-thirds-col-width -30; // leave space for padding
    max-height: 400px;
  }

  .contemporaries, .composerWorks { 
     height:200px;
     overflow:auto;
     background:$bghighlight;
     margin-left: $gutter-width;
     margin-right: $gutter-width;
     color:$bghighlighttext;
     a { 
         color:$bghighlighttext;
     }   
  }

  .composerWorks { 
    .date a { 
        color:$bghighlighttextalt;
    }
  }

  a { 
      color:$text-color;
      text-decoration: none;
  }
  
  .header {
    padding-left: 10px; 
    color:#fff;  
    background:$bgcolor;
  }
  
  .title { 
      color:#fff;
  }
   
  .list-item { 
      clear:both;
      margin-top:$gutter-width;
      height:135px;
      .one-third-column, .two-thirds-column { 
          height: 100%;
      }
  }

  .one-third-column { 
      width:$one-third-col-width;
      background:$bgcolor;
  }

  .two-thirds-column { 
      width:$two-thirds-col-width;
      background:$bgcolor;
  }

  .left { 
      float: left;
  }

  .right { 
      float: right;
  }
}


