{# macro to display a ?p ?o combination for this item #}
{# it's possible that ?o is a list, if there are multiple matches #}
{% macro unpack(payload) -%}
    {% if payload is string %}
        {{ payload }}
    {% else %} {# there are multiple matches #}
        {% for item in payload %}
            <span>{{ item }}</span>{% if not loop.last %}; {% endif %}
        {% endfor %}
    {% endif %} 
{% endmacro %}

{% macro first(thing) -%}
    {% if thing is string %}{{ thing | safe}}
    {% else %}{{ thing[0] | safe}}
    {% endif %}
{% endmacro %}
<html>
    <head>
        <title>SLoBR Contributor View</title>
        {% assets "scss_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='all.js') }}"></script>
    </head>
    <body>
        <div id="banner">
            <span id="banner-items"><a href="/"><span>S</span><span>L</span><span>o</span><span>B</span><span>R</span></a> Semantic Linking of BBC Radio</span>
        </div>
        <div id="content">
            <div class="header">SLoBR Contributor View</div>
            <div class="listing" id="work">
               <div class="two-thirds-column left">
                   <div class="contentblock">
                       <div class="title">
                           {{ unpack(contributor["rdfs:label"]) }}
                       </div>
                       {% if contributor["slobr:contributor_role"] %}
                       <div class="roles">
                           {{ unpack(contributor["slobr:contributor_role"]) }}
                       </div>
                       {% endif %}
                       {% if external %}
                       <div class="bio">
                            <img src="{{ external["image"] }}" />
                            <div>Born: {{ external["birth"][:4] }} 
                                {% if "birthPlace" in external %}
                                    ({{ external["birthPlace"] }});
                                {% endif %}
                                 Died: {{ external["death"][:4] }} 
                                {% if "deathPlace" in external %}
                                    ({{ external["deathPlace"] }})
                                {% endif %}
                            </div>
                            <div> {{ external["bio"] }}</div>
                       </div>
                       {% endif %}

                   </div>
              </div>
               <div class="one-third-column right">
                   <div class="explore">
                       Explore:
                       <hr>
                       <a href=episodes?contributor={{first(contributor["salt:uri"])}}>All episodes featuring this composer</a>
                       {% if works %}
                           <hr/>
                           Works by this composer featured on the show:
                           <div class="composerWorks">
                               {% for w in works %}
                                <div>
                                    <span class="title">
                                        <a href="/work?workid={{ w["segment"] }}">
                                            {{ w["title"] }}
                                        </a>    
                                    </span>
                                    <span class="date">
                                        <a href="/episode?pid={{ w["episode"] }}">
                                            ({{ w["date"][:10] }})
                                        </a>
                                    </span>
                                </div>
                               {% endfor %}
                              </ul>
                           </div>
                       {% endif %}
                       {% if contemporaries %}
                           <hr/>
                           Contemporaries - composers with work published during this person's lifetime:
                           <div class="contemporaries">
                               <ul>
                               {% for c in contemporaries %}
                                   <li> <a href="/contributor?contributor={{ c["author"] }}">
                                        {{ c["name"] }}. </a>
                                   </li>
                               {% endfor %}
                              </ul>
                           </div>
                       {% endif %}
                   </div>
               </div>
            </div>
        </div>
    </body>
</html>
