<html>
    <head>
        <title>SLoBR Episode View</title>
        {% assets "scss_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <div id="banner">
            <span id="banner-items"><a href="/"><span>S</span><span>L</span><span>o</span><span>B</span><span>R</span></a> Semantic Linking of BBC Radio</span>
        </div>
        <div id="content">
            <div class="header">SLoBR Episode View</div>
            <div class="listing" id="episodes">
               <div class="two-thirds-column left">
                   <div class="contentblock">
                       <img src="http://ichef.bbci.co.uk/images/ic/640x360/{{ episode["image"] }}.jpg"/>
                       <div class="title" title="{{ episode["uri"]|safe }}">{{ episode["title"]|safe }}</div>
                       <div class="long_synopsis">{{ episode["long_synopsis"]|safe }}</div>
                   </div>
                   <div class="contentblock">
                       {% if segContrib %}
                           <div class="segments">Featured segments:
                                {% for s in segContrib %}
                                    <div class="segment">
                                        <span class="title" title=" {{s|safe}}">
                                            <a href=work?workid={{s |safe }}>
                                                {{ segContrib[s]["title"] |safe }}
                                            </a>
                                        </span >
                                        <span class="contributors"> by
                                            {% for c in segContrib[s]["contributors"] %}
                                           <span title={{ c["contributorUri"]|safe }}>  
                                                <a href="/contributor?contributor={{ c["contributorUri"]|safe}}">
                                                    {{ c["contributorName"] }}
                                                </a>
                                           </span>
                                            {% endfor %}
                                        </span >
                                    </div>
                                {% endfor %}
                           </div>
                        {% else %}
                           <strong>Note: No segment information is available for this episode</strong>
                        {% endif %}
                    </div>
              </div>
               <div class="one-third-column right">
                   <div class="date">First broadcast on {{ episode["date"]|safe }}</div>
                   <div class="episode-peers">
                   {% if episode.nextEpisode %}
                       <a href=episode?pid={{ episode["nextEpisode"] }}>Next episode</a>
                   {% endif %}                  
                   {% if episode.previousEpisode %}
                       <a href=episode?pid={{ episode["previousEpisode"] }}>Previous episode</a>
                   {% endif %}     
                   </div>
                   <div class="explore">
                       <a href=episodes?contributorSource={{ episode["uri"] | safe }}>All episodes featuring these contributors</a>
                   </div>
               </div>
            </div>
        </div>
    </body>
</html>
