{# macro to display a ?p ?o combination for this item #}
{# it's possible that ?o is a list, if there are multiple matches #}
{% macro unpack(payload) -%}
    {% if payload is string %}
        {{ payload }}
    {% else %} {# there are multiple matches #}
        {% for item in payload %}
            <span>{{ item }}</span>{% if not loop.last %}; {% endif %}
        {% endfor %}
    {% endif %} 
{% endmacro %}

<html>
    <head>
        <title>SLoBR Episode View</title>
        {% assets "scss_all" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='magnific-popup.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='all.js') }}"></script>
    </head>
    <body>
        <div id="banner">
            <span id="banner-items"><a href="/"><span>S</span><span>L</span><span>o</span><span>B</span><span>R</span></a> Semantic Viewer: Semantic Linking of BBC Radio</span>
        </div>
        <div id="content">
            <div class="header">SLoBR Work View</div>
            <div class="listing" id="work">
               <div class="two-thirds-column left">
                   <div class="contentblock">
                       <div class="title">
                           {{ unpack(work["dct:title"]) }}
                       </div>
                       <div>
                       Contributors:
                       {% for c in contributors %}
                         <a href="/contributor?contributor={{ c }}">
                            {{ contributors[c] }}
                         </a> 
                       {% endfor %}
                       </div>
                       <div>
                       Recorded as:<a href="{{work["mo:recorded_as"]}}">
                           {{ work["mo:recorded_as"] }}
                        </a>
                       </div>
                   </div>
                   <div id="scoreimagesWrapper">
                       <div id="scoreimages">
                           {% if images is iterable %}
                               {% for image in images %}
                               <a href="{{image}}" target="_blank"><img class="lazy" data-original="{{ image }}" /></a>
                               {% endfor %}
                           {% endif %}
                       </div>
                   </div>
              </div>
               <div class="one-third-column right">
                   <div class="explore">
                       Explore:
                       <hr>
                       {# there may be more than one contributor #}
                       {% if work["dct:contributor"] is string %}
                       <a href=contributor?contributor={{work["dct:contributor"]}}> This work's composer </a>
                       <!--<hr>
                                             <a href=episodes?contributor={{work["dct:contributor"] }}>All episodes featuring this work</a><br/>   -->
                       <hr>
                       <a href=episodes?contributor={{work["dct:contributor"] }}>All episodes featuring this composer</a>
                       <!--<a href=episodes?contributor={{work["dct:contributor"] }}>All episodes featuring contemporary works</a> -->
                      {% else %}
                       <a href=episodes?contributor={{work["dct:contributor"]|join("|") }}>All episodes featuring these contributors</a>
                       {% endif %}
                   </div>

               </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='jquery.magnific-popup.min.js') }}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='jquery.lazyload.js')}}" type="text/javascript"></script>
        <script type="text/javascript">
            $("img.lazy").lazyload({ container: "#scoreimages", threshold:200 });
            $(document).ready(function() {
                $('#scoreimages').magnificPopup({
                    type:'image',
                    delegate: 'a',
                    verticalFit: true,
                    gallery:{enabled:true}
                });
            });
        </script>
    </body>
</html>
